@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --background-page: #fef2e8;
  --foreground: #0d0b0a;
  --card: #ffffff;
  --card-secondary: #f9fafb;
  --card-foreground: #0d0b0a;
  --popover: #ffffff;
  --popover-foreground: #0d0b0a;
  --primary: #f5d90a;
  --primary-foreground: #5e3300;
  --secondary: #f7f7f2;
  --secondary-foreground: #221b16;
  --muted: #f7f7f2;
  --muted-foreground: #6f665e;
  --accent: #f7f7f2;
  --accent-foreground: #221b16;
  --destructive: #e03131;
  --destructive-foreground: #fcfcfa;
  --border: #e5e2dc;
  --input: #e5e2dc;
  --ring: #0d0b0a;
  --radius: 0.5rem;
  --chart-1: #e35b28;
  --chart-2: #209178;
  --chart-3: #1b3b4b;
  --chart-4: #e6b400;
  --chart-5: #ff9b2f;
}

.dark {
  --background: #0d0b0a;
  --background-page: #424242;
  --foreground: #fcfcfa;
  --card: #212121;
  --card-secondary: #212121;
  --card-foreground: #fcfcfa;
  --popover: #0d0b0a;
  --popover-foreground: #fcfcfa;
  --primary: #f5d90a;
  --primary-foreground: #5e3300;
  --secondary: #281d19;
  --secondary-foreground: #fcfcfa;
  --muted: #281d19;
  --muted-foreground: #9b8e85;
  --accent: #281d19;
  --accent-foreground: #fcfcfa;
  --destructive: #641818;
  --destructive-foreground: #fcfcfa;
  --border: #281d19;
  --input: #281d19;
  --ring: #a65a00;
  --chart-1: #007fff;
  --chart-2: #2ea44f;
  --chart-3: #d98e00;
  --chart-4: #a54aff;
  --chart-5: #e60063;
}

@theme inline {
  --color-background: var(--background);
  --color-background-page: var(--background-page);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card-secondary: var(--card-secondary);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
